<div class="valentines-day" (click)="onValentinesDayClick()">
  <div class="envelope" #envelope></div>
  <div class="heart" #heart></div>
  <div class="text" #text>MI KARI FELIZ<br>SAN VALENTIN <br></div>
  <div class="front" #front></div>
</div>

<div id="card" #card>
  <div class="side one"></div>
  <div class="side two">
    <h2>AMOR MIO</h2>
    <p>En este San Valentín, quiero que sepas que mi amor por ti crece más fuerte cada día. Gracias por ser tú, por
      amarme tanto, y por hacerme cada día mas feliz. Eres mi todo, Kari, y no puedo esperar para
      seguir construyendo nuestra historia juntitos.</p>
    <p>¡Feliz día de San Valentín!</p>
  </div>
</div>